.hero
  align-items: stretch
  display: flex
  flex-direction: column
  justify-content: space-between
.focus
  cursor: pointer  
  padding-bottom: 15px
.focus:focus-within a
  outline: none
.user-icon
  height: 1.2em
  width: 1.2em
  border-radius: 50%
  top: calc(1.3vh + 1em)  
.sticky
  position: sticky
  position: -webkit-sticky
  top: 40vh
  width: 100%
.author-avatar
  margin-right: 1.2em
.UserAvatar
  height: 1.2em !important
  width: 1.2em !important
  border-radius: 50% !important
  top: calc(1.3vh + 1em) 
.UserAvatar--img
  height: 1.2em !important
  width: 1.2em !important
  border-radius: 50% !important
  top: calc(1.3vh + 1em) 
.UserAvatar--inner
  height: 1.2em !important
  width: 1.2em !important
  border-radius: 50% !important
  top: calc(1.3vh + 1em)
.icon-logo-star
  margin: 0 .5rem 0 0
  -webkit-transition: -webkit-transform 1.4s ease-out
  transition: -webkit-transform 1.4s ease-out
  transition: transform 1.4s ease-out
  transition: transform 1.4s ease-out,-webkit-transform 1.4s ease-out
  -webkit-transform: rotate(2turn)
  transform: rotate(2turn) 
.card-blog
  border-radius: 8px
  max-width: 100
  position: relative
.card
  border-radius: 8px
  max-width: 100%
  position: relative
.card1
  background-image: webkit-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0))
  background: radial-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0))
.card2
  background-image: webkit-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0))
  background: radial-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0))
.card3
  background-image: webkit-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top right,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0))
  background: radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top right,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0))  
.button .icon
  height: 2em
  width: 2em
.button:active
  border-color: transparent   
.button-transparent 
  background-color: transparent
  border-color: transparent
  color: #fff
  font-size: 1em
.btn-danger
  background: red
  color: #ffffff
  border-radius: 3px
.message-body
  padding: 1.25em 1.5em
.message-body code
  background-color: transparent        
  cursor: pointer
a
  text-decoration: none 
  cursor: pointer 
a:focus
  outline: none 
section 
  clear: both
.subtitle strong
  color: #928c8c
  font-weight: 600
strong
  font-family: Kaushan Script,cursive
  font-weight: 700
.taglist
  list-style: none
  margin: 0
  display: flex
  flex-wrap: wrap
  justify-content: left
  li
    padding: 0 0.5em 0.2em 0
    margin-bottom: 1.5em
    margin-top: 0
label, input
  font-family: Kaushan Script,cursive
.menu-item
  color: #ffffff
html  
  scrollbar-color: linear-gradient(to bottom,#201c29,#100e17)
  scrollbar-width: 10px
  overflow-x: hidden
html::-webkit-scrollbar
  width: 10px
  height: 10px
html::-webkit-scrollbar-thumb
  background: -webkit-gradient(linear,left top,left bottom,from(#d201c29),to(#100e17))
  background: linear-gradient(to bottom,#201c29,#100e17)
  border-radius: 10px
  -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25)
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25)
html::-webkit-scrollbar-track
  background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17)
pre::-webkit-scrollbar
  width: 10px
  height: 10px
pre::-webkit-scrollbar-thumb
  background: #201c29
  border-radius: 10px
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25)
pre::-webkit-scrollbar-track
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d)  
.number
  background-color: #000
div.code-toolbar>.toolbar
  position: absolute
  top: 1em
  right: .5em
  transition: opacity .3s ease-in-out
  opacity: 0
.content blockquote
  padding: 1.25em 1.5em      
.cover-container 
  position: relative
.cover-container-image
  display: block
  width: 100%
  height: auto
.overlay
  position: absolute
  bottom: 50%
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.5)
  color: #f1f1f1
  width: 100%
  transition: .5s ease
  opacity: 0
  color: white
  font-size: 20px
  padding: 20px
  text-align: center
.section
  padding: 1.8rem 1.5rem
.content ul
  list-style: none
ul  
  list-style: none
ul ul li:last-child
  border: none
.hidden
  visibility: hidden
.profile-pic
  display: block
  width: 25px
  height: 25px
  border-radius: 50%
.post-cover
  background-size: cover
  background-repeat: no-repeat
  background-position: 50% 50%
  padding: 0 
.meta-list
  display: flex
  flex-wrap: wrap
  font-size: 0.8em
  width: max-content
  -webkit-box-pack: center
  justify-content: center
  max-width: 80vw
  margin: 1em auto
.center
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: center
  align-items: center
  margin: 2em 0
.social-links
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: center
  align-items: center
  margin: 15px 0
.social-links > div
  margin: 5px 15px
.share-count
  text-align: center
.todo-list
  padding: 60px
  padding-top: 10px
  width: 600px
.todo-settings-toggle
  fill: #b7b9bd
  width: 25px
  margin-left: 10px
  cursor: pointer
.todo-create-wrapper 
  margin-bottom: 20px
  display: flex
  align-items: center
.todo-actions
  display: flex
  align-items: center
.todo-create-input
  font-size: 14px
  padding: 11px 15px
  min-width: 300px
  display: inline-block
  box-shadow: 0px 0px 0px 2px rgba(120, 130, 152, 0.25)
  border: none
  outline: none
  transition: all 0.3s ease
.todo-create-input:hover, .todo-create-input:active, .todo-create-input:focus
  box-shadow: 0px 0px 0px 2px rgb(43, 190, 185)
  box-shadow: 0px 0px 0px 2px #d64000
.todo-item 
  padding: 15px 0
  display: flex
  align-items: center
  justify-content: space-between
  min-height: 43px
.todo-list-title 
  font-size: 17px
  font-weight: 500
  color: #f5f5f5
  flex-grow: 1
  position: relative
  z-index: 2
  margin-left: 45px
  width: 470px
.todo-list-title:hover span[contenteditable="false"]:before
  content: 'click to edit'
  position: absolute
  top: -6px
  left: 11px
  font-size: 11px
  font-weight: 300
  color: #adadad
  letter-spacing: 1px
.mobile-toggle
  display: none
.desktop-toggle
  color: #fff
  margin-left: 10px
  margin-bottom: 3px

@media (max-width: 768px)
  .mobile-toggle
    display: inline-flex
  .desktop-toggle
    display: none
  .todo-list
    padding: 15px
    padding-top: 10px
    width: auto
  .todo-list h2
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 15px
    max-width: 95%
  .todo-list-title
    /* Disable Auto Zoom in Input “Text” tag - Safari on iPhone */
    font-size: 16px
    max-width: 80%
    margin-left: 40px
  .todo-create-wrapper
    flex-direction: column
    align-items: flex-start
    margin-bottom: 15px
  .todo-create-input
    appearance: none
    border: 1px solid rgba(0, 0, 0, 0.25)
    /* Disable Auto Zoom in Input “Text” tag - Safari on iPhone */
    font-size: 16px
    margin-bottom: 15px
    min-width: 85%
  .todo-item button
    padding: 4px 12px
    font-size: 14px
    margin-bottom: 0px
    min-width: 63px
    display: flex
    align-items: center
    justify-content: center
.todo-list-title:hover span[contenteditable="false"]:before
  content: ''
.todo-list-title:hover span[contenteditable="true"]:before
  content: 'click to edit'
  position: absolute
  top: -20px
  left: 9px 
  font-size: 11px
  font-weight: 300
  color: #adadad
  letter-spacing: 1px  
.todo
  display: inline-block
  position: relative
  padding: 0
  margin: 0
  min-height: 40px
  min-width: 40px
  cursor: pointer
  padding-right: 5px
.todo__state
  position: absolute
  top: 0
  left: 0
  opacity: 0
.todo__icon
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 280px
  height: 100%
  margin: auto
  fill: none
  stroke: #d64000
  stroke-width: 2
  stroke-linejoin: round
  stroke-linecap: round
  z-index: 1
.todo__state:checked ~ .todo-list-title
  text-decoration: line-through
.todo__box 
  stroke-dasharray: 56.1053, 56.1053
  stroke-dashoffset: 0
  transition-delay: 0.16s
.todo__check
  stroke: #d64000
  stroke-dasharray: 9.8995, 9.8995
  stroke-dashoffset: 9.8995
  transition-duration: 0.25s
.todo__state:checked ~ .todo__icon .todo__box
  stroke-dashoffset: 56.1053
  transition-delay: 0s
  stroke-dasharray: 56.1053, 56.1053
  stroke-dashoffset: 0
  stroke: red
.todo__state:checked ~ .todo__icon .todo__check
  stroke-dashoffset: 0
  transition-delay: 0s     