body {
	margin: 0
}
a {
	color: #cccccc!important;
	text-decoration: none;
	outline: 0
}
.octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: #ffffff !important;
}
.widget {
	display: inline-block;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 0;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.btn,
.social-count {
	display: inline-block;
	height: 14px;
	padding: 2px 5px;
	font-size: 11px;
	font-weight: 600;
	line-height: 14px;
	vertical-align: bottom;
	cursor: pointer;
	border: 1px solid #d64000 !important;
	border-radius: 0.25em
}
.btn {
	background-color: #c93c00 !important;
	background-image: -webkit-linear-gradient(top, #d64000, #c93c00 90%) !important;
	background-image: -moz-linear-gradient(top, #d64000, #c93c00 90%) !important;
	background-image: linear-gradient(180deg, #d64000, #c93c00 90%) !important;
	background-position: -1px -1px;
	background-repeat: repeat-x;
	background-size: 110% 110%;
	border-color: rgba(27, 31, 35, 0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#d64000', endColorstr='#c93c00')" !important;
}
.btn:active {
	background-color: #c93c00 !important;
	background-image: none;
	border-color: #c93c00 !important;
	border-color: transparent !important;
	box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}
.btn:focus,
.btn:hover {
	background-color: #d64000;
	background-image: -webkit-linear-gradient(top, #c93c00, #d64000 90%) !important;
	background-image: -moz-linear-gradient(top, #c93c00, #d64000 90%) !important;
	background-image: linear-gradient(180deg, #c93c00, #d64000 90%) !important;
	border-color: #c93c00 !important;
	border-color: rgba(27, 31, 35, 0.35);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#c93c00', endColorstr='#d64000')" !important;
}
.social-count {
	position: relative;
	margin-left: 5px;
	background-color: #c93c00 !important;
}
.social-count:focus,
.social-count:hover {
	color: #c93c00 !important;
}
.social-count b,
.social-count i {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 0;
	height: 0;
	margin: -4px 0 0 -4px;
	border: solid transparent;
	border-width: 4px 4px 4px 0;
}
.social-count b {
	border-right-color: #c93c00 !important;
}
.social-count i {
	margin-left: -3px;
	border-right-color: #c93c00 !important;
}
.lg .btn,
.lg .social-count {
	height: 16px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 16px
}
.lg .social-count {
	margin-left: 6px
}
.lg .social-count b,
.lg .social-count i {
	margin: -5px 0 0 -5px;
	border-width: 5px 5px 5px 0
}
.lg .social-count i {
	margin-left: -4px
}