.octicon {
	fill: #ffffff !important;
}
.btn,
.social-count {
	border: 1px solid #c93c00 !important;
}
.btn {
	background-color: #c93c00 !important;
}

.btn:active {
	background-color: #c93c00 !important;
	border-color: #c93c00 !important;
	border-color: transparent !important;
}
.btn:focus,
.btn:hover {
	background-color: #d64000;
	border-color: #c93c00 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#c93c00', endColorstr='#d64000')" !important;
}
.social-count {
	background-color: #d64000!important;
	color: #cccccc !important
}
.social-count i {
    border-right-color: #d64000!important;
}

.social-count b {
    border-right-color: #d64000!important;
}
.social-count:focus,
.social-count:hover {
	color: #c93c00 !important;
}
.social-count b {
	border-right-color: #c93c00 !important;
}
.social-count i {
	border-right-color: #c93c00 !important;
}
.lg .btn,
.lg .social-count {
	height: 16px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 16px
}
.lg .social-count {
	margin-left: 6px
}
.lg .social-count b,
.lg .social-count i {
	margin: -5px 0 0 -5px;
	border-width: 5px 5px 5px 0
}
.lg .social-count i {
	margin-left: -4px
}