.octicon {
	fill: #ffffff !important;
}
.btn,
.social-count {
	border: 1px solid #000000 !important;
}
.btn {
	background-color: #000000 !important;
}
.social-count {
	background-color: #1d1d1d!important;
	color: #cccccc !important
}
.social-count i {
    border-right-color: #1d1d1d!important;
}

.social-count b {
    border-right-color: #1d1d1d!important;
}
.social-count:focus,
.social-count:hover {
	color: #c2c1c1 !important;
}
.social-count b {
	border-right-color: #000000 !important;
}
.social-count i {
	border-right-color: #000000 !important;
}
.lg .btn,
.lg .social-count {
	height: 16px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 16px
}
.lg .social-count {
	margin-left: 6px
}
.lg .social-count b,
.lg .social-count i {
	margin: -5px 0 0 -5px;
	border-width: 5px 5px 5px 0
}
.lg .social-count i {
	margin-left: -4px
}