.twitter-btn {
  background-color: #1b95e0 !important;
  color: #fff;
  border: 1px thin #1b95e0 !important;
}

.twitter-btn {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer
}