.lg .btn,
.lg .social-count {
	height: 16px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 16px
}
.lg .social-count {
	margin-left: 6px
}
.lg .social-count b,
.lg .social-count i {
	margin: -5px 0 0 -5px;
	border-width: 5px 5px 5px 0
}
.lg .social-count i {
	margin-left: -4px
}