.breadcrumb-container {
  background-color: #e8eef2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.breadcrumb {
  display: flex;
  list-style: none;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem;
}

.breadcrumb-item {
  margin: 0;
  padding: 8px 0;
}

.breadcrumb-item::after {
  content: '\0203a';
  padding: 0 8px;
  font-size: 20px;
}

.breadcrumb-item > a {
  color: #007eb6;
  text-decoration: none;
}
