.knockout {
    font-family: 'Bowlby One SC', cursive;
    height: 300px;
    text-transform: uppercase;
    width: 100%;
  }
  
  text:nth-child(2) {
    font-size: 5em;
  }
  
  text:nth-child(3) {
    font-size: 5.1em;
  }
  
  text:nth-child(4) {
    font-size: 15em;
  }