@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kalidi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #fff
$black: #2b2523

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover
  color: #cccccc !important
.navbar-item, navbar-link
  color: #d64000 !important
.navbar-brand .navbar-item.logo
  padding: 0 1rem
.navbar-item .icon 
  color: #d64000
.navbar-link
  background-color: transparent !important
  color: #d64000 !important
.navbar-end
  margin-right: 40px !important
.navbar-link:not(.is-arrowless):after
  border-color: #d64000 !important
  margin-top: -.375em
  right: 1.125em
.navbar-item .icon:only-child, .navbar-link .icon:only-child
  margin-left: -.2rem !important
  margin-right: -.2rem !important
.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
li
  padding: 0 2rem 1rem 0
  margin-bottom: 1.5rem
  margin-top: 0
.btnIcon
  position: absolute
  top: 0
  left: 0
  margin: 0
  padding: 0
  border: 0
  width: 24px
  height: 24px
  margin: 6px
  background-image: url(/img/bafcd30dffce3a8d81bb7ec738ec2688.png) !important
.button .icon
    height: 2em !important
    width: 2em !important
.button
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.2))) !important
  background: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.2)) !important
  background-color: #d64000 !important
  border-color: transparent !important
  color: #cccccc !important
  border-radius: 4px !important
.button:hover  
  border-color: #c93c00 !important  
.button:focus
  outline: none !important
.button:active
  border-color: transparent !important   
.button-transparent
  background-color: transparent !important    
  border-color: transparent !important
.icon svg 
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
footer.footer
  padding: 2rem 0rem 0rem
.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social-links>a strong
    background: -webkit-gradient(linear,left top,right top,from(#d64000),to(#da1b60)) !important
    background: linear-gradient(to right,#d64000,#da1b60) !important
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -webkit-box-decoration-break: clone
    box-decoration-break: clone
    display: block
.content h1, .content h2, .content h3, .content h4
    font-weight: 600
    line-height: 1.125
.message-body code
    background-color: transparent !important
.input, .textarea
    background: radial-gradient(circle at top right,#813102,rgba(0,0,0,0)) !important
    border: #434040 !important
    border-radius: 4px
    box-shadow: 0 1px 1px rgba(0,0,0,.125) !important
    max-width: 100%
    width: 100% 
html 
  backgouund-color: transparent !important        
.notification
  background-color: #1d1d1d !important
  color: #cccccc !important
.box
  padding: 1rem !important
.shadow
  -moz-box-shadow: inset 0 0 10px #000000
  -webkit-box-shadow: inset 0 0 10px #000000
  box-shadow: inset 0 0 10px #000000  
.icon
  display: inline-block
  fill: #d64000 !important
  width: 1em
  height: 1.1em
  line-height: 1
  position: relative
  top: -.2em
  vertical-align: middle
.icon-white
  color: #fff !important     
.title
  color: #cccccc !important
hr, hr.thick
  border: 0
  height: 5px
  margin: 2rem 0
  background-image: -webkit-gradient(linear,left top,right top,from(#d64000),to(#da1b60))
  background-image: linear-gradient(to right,#d64000,#da1b60)
  background-color: transparent
  border-radius: 5px
.navbar-divider
  background-image: -webkit-gradient(linear,left top,right top,from(#d64000),to(#da1b60)) !important
  background-image: linear-gradient(to right,#d64000,#da1b60) !important
  text-align: center
  max-width: 100%
.navbar-dropdown
  background-color: #1d1d1d !important
  border-top: 2px solid #1d1d1d !important  
  color: #cccccc !important
.card
  border-radius: 8px !important
  max-width: 100%
  position: relative
.card1
  background-image: webkit-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0)) !important
  background: radial-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0)) !important
.card2
  background-image: webkit-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0)) !important
  background: radial-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0)) !important
.card3
  background-image: webkit-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top right,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)) !important
  background: radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top right,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)) !important
.navbar-item.is-mega
  position: static
.is-mega-menu-title
  margin-bottom: 0
  padding: .375rem 1rem
  color: #ccc !important
.site-title
  font-family: Kaushan Script,cursive
  color: #d64000 !important
  font-weight: 800
  z-index: 20
  padding-left: 5px
a
  color: #d64000 !important
a:-webkit-any-link
    cursor: pointer
*|*:any-link
  cursor: pointer
a:hover
  color: #cccccc !important
a:focus
  outline: none !important 
section 
  clear: both
.productFigure
  float: left
.actions 
  margin-top: 1em
  text-align: center
.breadcrumb
  margin-top: -1em
  margin-bottom: 1em
.breadcrumb a
  text-decoration: none
  font-size: smaller
  border-bottom: solid 1px #d64000
  padding-bottom: 2px
.comment-policy
  margin-bottom: 25px
  color: #ccc !important
  background-color: #1d1d1d !important
  font-size: 16px
  width: 100%
  line-height: 1.45em
  padding: 15px
.textarea-wrapper
  background: #1d1d1d !important
  background-color: #1d1d1d !important
  border: 2px solid #1d1d1d !important
  color: #ccc !important
  position: relative
  border-radius: 4px
  margin: 0 0 0 48px
#no-posts
  opacity: .6
  line-height: 107px
  text-align: center
  color: #ccc !important
.gatsby-astro
  width: 800px
  height: 800px
.subtitle strong
  color: #928c8c !important
  font-weight: 600
strong
  font-family: Kaushan Script,cursive
  color: #928c8c !important
  font-weight: 700
.media-content
  overflow-x: none !important
  overflow: hidden !important
  seamless: seamless !important
  overflow: -moz-scrollbars-none !important
.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0
label, input
  font-family: Kaushan Script,cursive
text:nth-child(2)
  font-size: 5em
text:nth-child(3)
  font-size: 5.1em
text:nth-child(4)
  font-size: 15em  
.hero.is-primary
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.2)))
  background: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.2))
  background-color: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.2))
  color: #fff
.hero.is-primary.is-bold
  background-image: linear-gradient(141deg,#a31600,#f07000 81%,#d64000) !important
.message-body
  border-radius: 4px
  border: #000000 !important
  border-width: 0 0 0 5px !important
  border-left-width: 4px !important
  padding: 1.25em 1.5em
strong
  color: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.2)) !important
.navbar-item img
    max-height: 2em !important
input.luna__input
  background: url(/img/search.svg) 15px 50%/1.1em 1.5em no-repeat !important
  background-color: transparent !important
  transition: all .2s ease-out
  width: 30px
  height: 30px
  padding-right: 20px
  border: 0 !important
  color: #d64000
  padding-bottom: 0
  padding-top: 0
input.luna__input:focus
  width: 200px !important
  height: 30px
  padding-left: 1.8em
  border: 1px solid #434040 !important
  padding-bottom: 0
  padding-top: 0
.hero.is-medium .hero-body
  padding-bottom: 3em !important
  padding-top: 3em !important
html 
  scrollbar-color: linear-gradient(to bottom,#d64000,#da1b60)
  scrollbar-width: 30px
  background: #100e17
  overflow-x: hidden
html::-webkit-scrollbar
  width: 10px
  height: 10px
html::-webkit-scrollbar-thumb
  background: -webkit-gradient(linear,left top,left bottom,from(#d64000),to(#da1b60))
  background: linear-gradient(to bottom,#d64000,#da1b60)
  border-radius: 10px
  -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25)
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25)
html::-webkit-scrollbar-track
  background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17)
.link-read-more, .read-more
  background: -webkit-gradient(linear,left top,right top,from(#d64000),to(#8e0436))
  background: linear-gradient(90deg,#d64000,#8e0436)
  background-clip: border-box
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -webkit-box-decoration-break: clone
  box-decoration-break: clone
  font-weight: 700
  border-bottom: 1px solid #da1b60 !important
  padding-bottom: .15rem
.number
  background-color: #d64000 !important
.language-text
  backround-color: #1d1d1d !important
div.code-toolbar>.toolbar
  position: absolute
  top: 1em !important
  right: .5em !important
  transition: opacity .3s ease-in-out
  opacity: 0
.link-icon
  color: #d64000
.media
  overflow: hidden !important
  overflow-y: hidden
.content blockquote
  padding: 1.25em 1.5em      
.image-container
  position: relative
  width: 100%
  margin-bottom: 1.5rem
.article-transition
  -webkit-transition: transform 2s ease-in-out
  -moz-transition: transform 2s ease-in-out
  transition: transform 2s ease-in-out
.article-transition:hover
  -moz-transform: scale(1.05)
  -webkit-transform: scale(1.05)
  -o-transform: scale(1.05)
  -ms-transform: scale(1.05)
  -webkit-transform: scale(1.05)
  transform: scale(1.05)  
.hero
  margin-top: 1em !important
.caption, figcaption
  position: inherent
  bottom: 0
  right: 1em
  font-size: 0.8em
  background: rgba(0, 0, 0, 0.7)
  border-top-right: 4px
  border-top-left: 4px
  color: #fff
.cover-container 
  position: relative
.cover-container-image
  display: block
  width: 100%
  height: auto
.overlay
  position: absolute
  bottom: 50%
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.5)
  color: #f1f1f1
  width: 100%
  transition: .5s ease
  opacity: 0
  color: white
  font-size: 20px
  padding: 20px
  text-align: center
.container:hover .overlay
  opacity: 1
.cc-container.cc-theme-orange .cc-icon a
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.2))) !important
  background: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.2)) !important
  background-color: #d64000 !important
  border-color: transparent !important
.cc-container.cc-theme-orange .cc-icon a:hover
  background-color: #c93c00 !important    
  border-color: #c93c00 !important
.input-control  
  border: 1px solid #434040!important    
  background: radial-gradient(circle at top right,#813102,rgba(0,0,0,0)) !important
.is-danger.input, .is-danger.textarea
  border-color: #ff3860!important
  border: 1px solid #ff3860!important
.gatsby-background-image-gbi:after, .gatsby-background-image-gbi:before
  background-clip: content-box
gatsby-resp-image-image
  box-shadow: none !important
.gatsby-resp-image-figcaption
  text-align: center !important
.section
  padding: 1.8rem 1.5rem !important
.content table td, .content table th
  border: transparent !important
.caption, figcaption
  position: inherit !important
.content pre
  overflow-x: hidden !important
pre[class*=language-]
  overflow: hidden !important
.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed
  opacity: 1 !important
  pointer-events: auto !important
  transform: translateY(0) !important
.content ul
  list-style: none !important
.hidden
  visibility: hidden
input[type="search"]:focus 
  outline: 0
  border-radius: 3px
  box-shadow: 0 0 0 2px rgba(214, 64, 0, .5)   
input[type="email"]:focus 
  outline: 0
  border-radius: 3px
  box-shadow: 0 0 0 2px rgba(214, 64, 0, .5)
input[type="text"]:focus 
  outline: 0
  border-radius: 3px
  box-shadow: 0 0 0 2px rgba(214, 64, 0, .5)    
textarea[type="textarea"]:focus 
  outline: 0
  border-radius: 3px
  box-shadow: 0 0 0 2px rgba(214, 64, 0, .5) 
.is-primary
  background: -webkit-gradient(linear,left top,right top,from(#d64000),to(#8e0436)) !important
  background: linear-gradient(90deg,#d64000,#8e0436) !important
.flex-container
  padding: 0
  margin: 0
  -ms-box-orient: horizontal
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -moz-flex
  display: -webkit-flex
  display: flex
.flex1
  flex: 1 1 20em
.flex2
  flex: 2 2 20em
.flex
  flex: 3 3 20em

@import "~bulma"