@import "~bulma/sass/utilities/initial-variables"

.navbar-brand .navbar-item.logo
  padding: 0 1rem
.navbar-brand
  margin-left: 40px
  padding-left: 20px
.navbar-item .icon 
  color: #d64000
.navbar-link:not(.is-arrowless):after
  border-color: #f5f5f5 !important
  margin-top: -.375em
  right: 1.125em
.navbar-item .icon:only-child, .navbar-link .icon:only-child
  margin-left: -.2rem !important
  margin-right: -.2rem !important
.btnIcon
  position: absolute
  top: 0
  left: 0
  margin: 0
  padding: 0
  border: 0
  width: 24px
  height: 24px
  margin: 6px
  background-image: url(/img/bafcd30dffce3a8d81bb7ec738ec2688.png) !important
.button .icon
  height: 2em !important
  width: 2em !important
.button:active
  border-color: transparent !important   
.button    
  border-radius: 4px !important
.button-transparent 
  background-color: transparent !important
  border-color: transparent !important
  color: #fff !important
  font-size: 1em
  margin: -10px
.btn-danger
  background: red
  color: #ffffff
  border-radius: 3px
.icon svg 
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
footer.footer
  padding: 2rem 0rem 
.menu-list
  list-style: none !important
  text-align: left
.content h1, .content h2, .content h3, .content h4
  font-weight: 600
  line-height: 1.125
.message-body code
  background-color: transparent !important      
.notification
  background-color: #1d1d1d !important
  color: #cccccc !important
.box
  padding: 1rem !important
.shadow
  -moz-box-shadow: inset 0 0 10px #000000
  -webkit-box-shadow: inset 0 0 10px #000000
  box-shadow: inset 0 0 10px #000000  
.icon
  display: inline-block
  fill: #d64000 !important
  width: 1em
  height: 1.1em
  line-height: 1
  position: relative
  top: -.2em
  vertical-align: middle
.icon-white
  color: #fff !important     
.card
  border-radius: 8px !important
  max-width: 100%
  position: relative
.card1
  background-image: webkit-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0)) !important
  background: radial-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0)) !important
.card2
  background-image: webkit-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0)) !important
  background: radial-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0)) !important
.card3
  background-image: webkit-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top right,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)) !important
  background: radial-gradient(180px at top left,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top right,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#1d8d42,rgba(0,0,0,0)) !important
a:-webkit-any-link
  cursor: pointer
*|*:any-link
  cursor: pointer
a:focus
  outline: none !important 
section 
  clear: both
.productFigure
  float: left
.actions 
  margin-top: 1em
  text-align: center
#no-posts
  opacity: .6
  line-height: 107px
  text-align: center
  color: #ccc !important
.gatsby-astro
  width: 800px
  height: 800px
.subtitle strong
  color: #928c8c !important
  font-weight: 600
strong
  font-family: Kaushan Script,cursive
  font-weight: 700
.media-content
  overflow-x: none !important
  overflow: hidden !important
  seamless: seamless !important
  overflow: -moz-scrollbars-none !important
.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0
label, input
  font-family: Kaushan Script,cursive
text:nth-child(2)
  font-size: 5em
text:nth-child(3)
  font-size: 5.1em
text:nth-child(4)
  font-size: 15em  
.navbar-item img
  max-height: 2em !important
input.luna__input
  background: url(/img/search.svg) 15px 50%/1.1em 1.5em no-repeat !important
  background-color: transparent !important
  transition: all .2s ease-out
  width: 30px
  height: 30px
  padding-right: 20px
  border: 0 !important
  padding-bottom: 0
  padding-top: 0
input.luna__input:focus
  width: 110px !important
  height: 30px
  padding-left: 1.8em
  padding-bottom: 0
  padding-top: 0
.hero.is-medium .hero-body
  padding-bottom: 3em !important
  padding-top: 3em !important
html  
  scrollbar-color: linear-gradient(to bottom,#201c29,#100e17)
  scrollbar-width: 10px
  overflow-x: hidden
html::-webkit-scrollbar
  width: 10px
  height: 10px
html::-webkit-scrollbar-thumb
  background: -webkit-gradient(linear,left top,left bottom,from(#d201c29),to(#100e17))
  background: linear-gradient(to bottom,#201c29,#100e17)
  border-radius: 10px
  -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25)
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25),inset -2px -2px 2px rgba(0,0,0,.25)
html::-webkit-scrollbar-track
  background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17)
pre::-webkit-scrollbar
  width: 10px
  height: 10px
pre::-webkit-scrollbar-thumb
  background: #201c29
  border-radius: 10px
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25)
pre::-webkit-scrollbar-track
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d)  
.number
  background-color: #d64000 !important
div.code-toolbar>.toolbar
  position: absolute
  top: 1em !important
  right: .5em !important
  transition: opacity .3s ease-in-out
  opacity: 0
.link-icon
  color: #d64000
.media
  overflow: hidden !important
  overflow-y: hidden
.content blockquote
  padding: 1.25em 1.5em      
.image-container
  position: relative
  width: 100%
  margin-bottom: 1.5rem
.caption, figcaption
  position: inherent
  bottom: 0
  right: 1em
  font-size: 0.8em
  background: rgba(0, 0, 0, 0.7)
  border-top-right: 4px
  border-top-left: 4px
  color: #fff
.cover-container 
  position: relative
.cover-container-image
  display: block
  width: 100%
  height: auto
.overlay
  position: absolute
  bottom: 50%
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.5)
  color: #f1f1f1
  width: 100%
  transition: .5s ease
  opacity: 0
  color: white
  font-size: 20px
  padding: 20px
  text-align: center
.container:hover .overlay
  opacity: 1
.is-danger.input, .is-danger.textarea
  border-color: #ff3860 !important
  border: 1px solid #ff3860 !important
.gatsby-background-image-gbi:after, .gatsby-background-image-gbi:before
  background-clip: content-box
gatsby-resp-image-image
  box-shadow: none !important
.gatsby-resp-image-figcaption
  text-align: center !important
.section
  padding: 1.8rem 1.5rem !important
.content table td, .content table th
  border: transparent !important
.caption, figcaption
  position: inherit !important
.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed
  opacity: 1 !important
  pointer-events: auto !important
  transform: translateY(0) !important
.content ul
  list-style: none !important
  margin-left: 10px
li:first-child
  border-bottom: 1px thin inherent
ul ul li:last-child
  border: none
nav ul ul a
  margin-left: 10px
nav ul ul ul a
  margin-left: 15px
.hidden
  visibility: hidden
.profile-pic
  display: block
  width: 25px
  height: 25px
  border-radius: 50%

@import "~bulma"